@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');
*{
  box-sizing:border-box;
  text-decoration: none;
}

:root{
  --dominant-colour:#DCEEF5;
  --complementary-colour-blue:#5084f4;
  --complementary-colour-torquoise:#3189A0;
  --complementary-colour-grey:#444655;
}

body{
  margin:0;
  background-color: var(--dominant-colour);
  font-family: 'EB Garamond', serif;
}

nav{
  background-color: var(--complementary-colour-blue);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 1em;
  height: 64px;

}

nav ul{
  display:flex;
  justify-content:space-between;
  align-items: center;
  list-style: none;
  margin:0;
  gap:5em;
}

nav li{
  height:100%;
  border-radius: 5px;
  font-size: 2em;

}

nav li a{
  height: 100%;
  color:var(--dominant-colour);
  padding:0 5px;
  transition:background-color 0.3s ease-in;
  border-radius: 5px;
}

nav li a:hover{
  background-color:#A8AABC;
}

nav li a.active{
  background-color: var(--complementary-colour-grey);
  border-bottom: 5px solid gray;
}



