.mobile-navList{
    transition: display 0.3s ease ease-in-out;
}


.mobile-navList li{
    font-size: 1.5em;
    color:var(--dominant-colour);
}

.mobile-navList li:visited{
    color:var(--dominant-colour);
}